.sales-summary-container {
  height: 517px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.sales-summary-data {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.sales-summary-total {
  font-size: 36px;
  color: var(--light-color);
}

.sales-summary-label {
  font-size: 18px;
  color: var(--grey-light-color);
}

@media (min-width: 576px) {
  .sales-summary-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
  }

  .sales-summary-data {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  .sales-summary-container {
    margin-left: 5px;
    margin-right: 5px;
    height: 420px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sales-summary-chart {
    margin-right: 100px;
  }
}

@media (min-width: 1200px) {
  .sales-summary-container {
    margin-left: 110px;
    margin-right: 110px;
  }
}
